.socials-icon {
    fill: var(--accent);
    stroke: var(--accent);
    width: 100%;
    flex-shrink: 0;
    transition: transform 0.3s ease-in;
}

.socials-icon:hover:not(.icon-close) {
    fill: #ebc169;

    transform: scale(1.15);
}

.icon-close {
    fill: var(--white);
    stroke: var(--white);
    transition: all 0.3s ease-in;
}

.icon-close:hover {
    fill: var(--accent);
    stroke: var(--accent);
}
