.card-trainer {
    position: relative;
    border-radius: 20px;
    aspect-ratio: 268/400;
    /* width: 268px; */
    height: 400px;
    
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);

    object-fit: cover;
    object-position: center;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.card-trainer::after {
    opacity: 0;
    content: "";

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);

    transition: opacity 0.3s ease-in;
}

.card-trainer:hover::after{
    opacity: 1;
}

.card-trainer-name {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    text-transform: capitalize;

    color: var(--white);
    opacity: 0;
    transition: all 0.3s ease-in;
}

.card-trainer:hover .card-trainer-name {
    top: 50%;
    opacity: 1;
}
.card-trainer-img {

}

@media (max-width: 1200px) {
    .card-trainer {
        max-height: 400px;
        height: 100%;
    }
}

