.section {
    padding-block: 140px;
}
.section-trainers {
}

.section-header {
    margin: 0 auto;
    padding-bottom: 50px;

    text-align: center;
    max-width: 800px;
}

.section-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 96px;
    letter-spacing: 0.08em;
    line-height: 1.04;
    color: var(--accent);
}

.section-desc {
    font-family: var(--second-family);
    font-size: 16px;
    line-height: 200%;
    color: var(--text-color);
    text-wrap: balance;
}

.section-trainers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px 30px;
}

.section-groups-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 105px 32px;
}

@media (max-width: 1200px) {
    .section-trainers-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 35px 30px;
    }
}

@media (max-width: 1040px) {
    .section {
        padding-block: 80px;
    }
    .section-groups-grid {
        gap: 60px 30px;
    }
}

@media (max-width: 767px) {
    .section {
        padding-block: 60px;
    }

    .section-header {
        padding-bottom: 30px;

        max-width: 600px;
    }

    .section-title {
        font-size: 72px;
    }

    .section-desc {
        line-height: 150%;
    }

    .section-trainers-grid {
        display: flex;
        gap: 35px 30px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .section-groups-grid {
        display: flex;
        gap: 20px 30px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}

@media (max-width: 500px) {
    .section {
        padding-block: 40px;
    }

    .section-header {
        padding-bottom: 30px;

        max-width: 600px;
    }

    .section-title {
        font-size: 48px;
    }

    .section-desc {
        line-height: 130%;
    }
}

